[quebra]
<!--<sub>Fonte: Dados dos Censos 1991, 2000 e 2010 (IBGE), processados pelo Ipea, FJP e PNUD</sub>-->
<div id="educacao" class="block-01-div-title">[titulo]</div>
<div class="block-01-div-left-content">
    <div class="block-01-div-subtitle">[subtitulo]</div>
    <div class="block-01-div-sub-subtitle">[info]</div>
</div> 
<div class="block-01-div-text">[text1]</div>
[quebra4]
<div>[canvasContent1]</div>
<sub style="color:gray;">
    [fonte]</sub>
[quebra1]
<div>[canvasContent2]</div>
<sub style="color:gray;">
    [fonte]</sub>
<div class="block-01-div-text">[text2]</div>
[quebra2]
<div>[canvasContent3]</div>
<div>[canvasContent4]</div>
<div>[canvasContent5]</div>
<sub style="color:gray;">
    [fonte]</sub>
[quebra3]
<!--<div class="clear2"></div>-->
