<div>    
<table border="0" width="100%" class="tablePerfil">
<caption style="text-align: left;"><b>[caption] - [municipio]</b></caption>
<tr class="borderDark">
<td id="dateTitle"><b>[titulo]</b>
<td><b class="columnAno">[ano2]</b></td><td class="columnAno"><b>[ano3]</b></td>
</tr>
<tr class="borderLight">
<td id="dateSubTitle">[v1]</td><td>[v1_a2]</td><td>[v1_a3]</td>
</tr>
<tr class="borderLight">
<td id="dateSubTitle">[v2]</td><td>[v2_a2]</td><td>[v2_a3]</td>
</tr>
<tr class="borderDark">
<td id="dateSubTitle">[v3]</td><td>[v3_a2]</td><td>[v3_a3]</td>
</tr>
<tr>
<td id="dateTitle"><b>[titulo1]</b></td><td>[t]</td><td>[t]</td>
</tr>
<tr class="borderLight">
<td id="dateSubTitle">[v4]</td><td>[v4_a2]</td><td>[v4_a3]</td>
</tr>
<tr class="borderDark">
<td id="dateSubTitle">[v5]</td><td>[v5_a2]</td><td>[v5_a3]</td>
</tr>
<tr class="borderLight">
<td id="dateTitle"><b>[titulo2]</b></td><td>[t]</td><td>[t]</td>
</tr>
<tr class="borderLight">
<td id="dateSubTitle">[v6]</td><td>[v6_a2]</td><td>[v6_a3]</td>
</tr>
<!--<tr class="borderLight">-->
<tr>
<td id="dateSubTitle">[v7]</td><td>[v7_a2]</td><td>[v7_a3]</td>
</tr>
<!--<tr>
<td id="dateSubTitle">[v8]</td><td>[v8_a2]</td><td>[v8_a3]</td>
</tr>-->
</table>
    <sub style="color:gray;">
    [fonte]</sub>
    <br><br>
</div>
