<!--<div class="tableTaxaHiato">    -->
<table border="0" width="100%" class="tablePerfil">
<tr class="borderDark">
<td id="dateTitle"><b>[titulo]</b>
<td class="columnAno"><b>[ano1]</b></td><td class="columnAno"><b>[ano2]</b></td>
</tr>
<tr class="borderLight">
<td id="dateTitle"><b>[v1]</b></td><td>[v1_a2]</td><td>[v1_a3]</td>
</tr>
<tr class="borderLight">
<td id="dateTitle"><b>[v2]</b></td><td>[v2_a2]</td><td>[v2_a3]</td>
</tr>
<tr>
<td id="dateTitle"><b>[v3]</b></td><td>[v3_a2]</td><td>[v3_a3]</td>
</tr>
</table> 
<sub style="color:gray;">
    [fonte]</sub>
<!--</div>-->
