[quebra]
<!--<br>
<sub>Fonte: Dados dos Censos 1991, 2000 e 2010 (IBGE), processados pelo Ipea, FJP e PNUD</sub>-->
<div id="trabalho" class="block-01-div-title">[titulo]</div>
<br>
<div>[canvasContent]</div><br><br>
<sub style="color:gray;">
    [fonte]</sub>
<div class="block-01-div-left-content">
    <div class="block-01-div-subtitle">[subtitulo]</div>
    <div class="block-01-div-text">[info]</div>
</div>

<div class="block-01-div-text">[text1]</div>
<div class="block-01-div-text">[text2]</div>

<div class="clear2"></div>
